ignore
.DS_Store
.env
node_modules/
cypress/downloads
cypress/videos
browserstack.json
log
results
jsconfig.json
cypress/screenshots
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
